body{
  margin:0;
  background-color: aquamarine;
  display:flex;
  align-items:center;
  flex-direction:column;
}
#login-div{
  margin:20px;
  padding:5px;
  width:100%;
  background-color: aquamarine;
  display:flex;
  align-items:center;
  flex-direction:column;
}
#heading1{
  //background-color:rgb(250,150,250);
  margin:5px;
  padding:5px;
  color:brown;
  display:flex;
  justify-content:center;
}
#login-form{
  display:flex;
  flex-direction:column;
}
.login-input {
  margin:5px;
  padding:5px;
  width:100%;
  border:1px thick black;
}
.login-button {
  display:flex;
  justify-content:center;
}
#forgot-password {
  margin:5px;
  padding:5px;
  font-size:13px;
  align-self:flex-end;
}
a{
  margin:5px;
  padding:5px;
  border:1px solid black;
  text-decoration:none;
  :hover{
    cursor:pointer;
   }
  :active {
    background-color:aqua;
   }
}
#Signup{display:none;}
#Signup-form{
  display:flex;
  flex-direction: column;
}
#Signup:target {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
}
.hide{display:none