#login-div{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
#heading1{
  background-color:rgb(250,150,250);
  color:brown;
}
#Signup{
  display:none;
}
.login-input {
  width:100%;
  border:1px thick black;
}
#login-button {

 }
a{
  margin:2px;
  padding:2em;
  border:1px solid black;
  text-decoration:none;
  :hover{
    cursor:pointer;
   }
  :active {
    background-color:aqua;
   }
}